@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    30% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.8;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes elevate {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#about {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #140f07;
    color: rgba(255, 250, 250, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 2em 0;
}

#about .content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 2em;
    opacity: 0;
    animation: elevate 2s ease-out forwards;
}

#about h2, #about p {
    animation: slideIn 2s ease-out forwards;
    margin: 0.5em 0;
    font-weight: bold;
}

#about h2 {
    font-size: 3rem;
    margin-bottom: 0.5em;
}

#about p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    max-width: 800px;
}

@media (max-width: 1024px) {
    @keyframes slideIn {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        30% {
            opacity: 0.5;
        }
        70% {
            opacity: 0.8;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes elevate {
        0% {
            transform: translateY(20px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }

    #about {
        overflow-x: hidden;
        height: auto;
        background-color: #140f07;
        color: rgba(255, 250, 250, 0.85);
        box-shadow: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }

    #about .content {
        display: block;
        width: 100%;
        height: auto;
        margin: 2em 0;
        padding: 0;
        opacity: 0;
        animation: elevate 2s ease-out forwards;
    }

    #about h2 {
        font-size: 2rem;
        margin: 0 auto;
        max-width: 90%;
        text-align: left;
    }

    #about p {
        font-size: 0.9rem;
        line-height: 1.4;
        margin: 0.5em auto;
        max-width: 90%;
        text-align: left;
    }
}