#about {
    margin-bottom: 1em;
    background-color: #140f07;
    color: snow;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about h2, #about p {
    width: 45%;
    margin: 0;
}

#about h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

#about p {
    background-color: snow;
    color: #140f07;
    text-indent: 1em;
    text-align: justify;
    font-size: 1.2rem;
    padding: 15px;
    border-radius: 8px;
}