@keyframes itemSlideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#whyChoose {
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #140f07;
    color: #140f07;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#whyChoose h2 {
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
    margin: 10px 0;
    color: rgba(255, 250, 250, 0.85);
}

#whyChoose ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

#whyChoose li {
    font-size: 1.2rem;
    margin: 20px 0;
    padding: 15px;
    background-color: rgba(255, 250, 250, 0.85);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    opacity: 0;
    transform: translateX(-100%);
}

#whyChoose li {
    animation: itemSlideInFromLeft 2.5s ease-out forwards;
}

#whyChooseContent {
    width: 50%;
}

#whyChoose .image-container-icons {
    margin-top: 2em;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#whyChoose .image-container-icons img {
    background-color: rgba(255, 250, 250, 0.85);
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1024px) {
    #whyChoose {
        height: auto;
        flex-direction: column;
    }

    #whyChooseContent {
        width: 90%;
        margin: 0 auto;
    }

    #whyChoose h2 {
        text-align: center;
        font-size: 1.2rem;
        width: 90%;
        margin: 0 auto 1em auto;
    }

    #whyChoose li {
        text-align: center;
        font-size: 1em;
        width: 90%;
        margin: 15px auto 0 auto;
        padding: 10px;
    }

    #whyChoose .image-container-icons {
        width: 90%;
        margin-top: 0;
    }

    #whyChoose container.image- img {
        opacity: 0;
        margin: 0 auto;
        width: 90%;
        max-height: 90%;
        padding: 10px;
        animation: itemSlideInFromLeft 2.5s ease-out forwards;
    }
}